<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Personas
    </title>
</head>
<body>
    <h1>Lista de personas</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
        {% for persona in personas %}
            <tr>
                <td>{{ persona.id }}</td>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellido }}</td>
                <td><a href={{ url_for('persona', id=persona.id) }}>Ver</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>